@import uk.gov.hmrc.play.views.html.helpers.{form}
@import views.html.helpers.backButtonWithProgress
@import views.html.helpers.errorSummaryFileUpload
@import models.fileUpload.EnvelopeFile

@(files: Seq[EnvelopeFile], envelopeID: String, backUrl:String, fileErrors: Seq[FormError] = Seq())(implicit request: Request[_], messages: Messages)

@sidebar = {
<h2 class="heading-small" id="supporting-docs-heading">
    @Messages("page.supportingDocuments.SupportingDocuments.heading")</h2>
<ul class="list list-bullet">
    <li id="supporting-docs-one">@Messages("page.supportingDocuments.SupportingDocuments.bullet.one")</li>
    <li id="supporting-docs-two">@Messages("page.supportingDocuments.SupportingDocuments.bullet.two")</li>
    <li id="supporting-docs-three">@Messages("page.supportingDocuments.SupportingDocuments.bullet.three")</li>
    <li id="supporting-docs-four">@Messages("page.supportingDocuments.SupportingDocuments.bullet.four")</li>
    <li id="supporting-docs-five">@Messages("page.supportingDocuments.SupportingDocuments.bullet.five")</li>
</ul>
<div class="section--blue-top"></div>
}


@main_template(Messages("page.fileUpload.title"), sidebarLinks = Some(sidebar)) {

<!--TODO: add backlink to backUrl passed to service -->
@backButtonWithProgress(backUrl, Messages("common.section.progress.company.details.five"))

<div class="form-group">

    @errorSummaryFileUpload(fileErrors, "file-upload", "upload-button")

    <h1 id="main-heading" class="form-title heading-xlarge">@Messages("page.fileUpload.heading")</h1>

    <div class="form-group">
            <div class="form-group"><p id="file-limit-restriction">@Messages("page.fileUpload.restriction")</p></div>
            <ul class="list list-bullet">
                <li id="file-condition-size">@Messages("page.fileUpload.condition.size")</li>
                <li id="file-condition-types">@Messages("page.fileUpload.condition.types")</li>
                <li id="file-condition-macros">@Messages("page.fileUpload.condition.macros")</li>
            </ul>
    </div>
</div>

    <div class="form-group">
            <div class="panel panel-indent panel-border-narrow">
                <div class="form-group">
                    <p id="file-limit-hint">@Messages("page.fileUpload.hint")</p>
                </div>

                </div>
            </div>


    @if(files.size > 0){
    <div class="form-group">
        <table id="files-table">
            <thead>
            <tr>
                <td id="table-heading"><h2 class="heading-small">@Messages("page.fileUpload.table.heading")</h2></td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            @for((file, index) <- files.zipWithIndex) {
            <tr>
                <td id="file-@{index}">@file.name</td>
                <td id="remove-@{index}"><a id="remove-ref-@{index}" href="@routes.FileDeleteController.show(file.id)">@Messages("page.fileUpload.remove")</a>
                </td>
            </tr>
            }
            </tbody>
        </table>
    </div>
    }

    <div id="javascript-disabled" class="form-group">
        @form(action = routes.FileUploadController.upload(), 'enctype -> "multipart/form-data") {
        @NoJavascriptUploadForm(files,envelopeID)
        }
    </div>

    <div id="javascript-enabled" class="form-group" style="display:none">
        @form(action = routes.FileUploadController.upload(), 'enctype -> "multipart/form-data") {
        @JavascriptUploadForm(files, envelopeID)
        }
    </div>

    @if(files.size > 0){
    @form(action = routes.FileUploadController.submit()) {
    <button class="button--link-style removeLink" type="submit" id="continue-link"> @Messages("page.fileUpload.snc")
    </button>
    }
    }


}