@import models.fileUpload.EnvelopeFile
@(files: Seq[EnvelopeFile], envelopeID: String)(implicit request: Request[_], messages: Messages)

<div class="form-group">
    <label for="file-input-nojs" id="file-input-nojs-label" hidden>@Messages("page.fileUpload.heading")</label>
    <input id="file-input-nojs" type="file" name="supporting-docs" accept="application/pdf">
</div>

@if(files.size == 0){
<div class="form-group">
    <button class="btn button" type="submit" id="upload-button">@Messages("page.fileUpload.upload")</button>
</div>
}else{
<div class="form-group">
    <button class="btn button" type="submit" id="upload-button">@Messages("page.fileUpload.upload.another")</button>
</div>
}